<div class="page-header"> </div>


<% @statuses.each do |status| %>
<div class="status">
  <strong><%=status.name %></strong>
  <p><%= status.content %></p>
  <div class="meta">
    <%=link_to time_ago_in_words(status.created_at) + " ago.", status %>
    <span class="admin">
      | <%= link_to "edit.", edit_status_path(status) %> | <%= link_to 'kill.', status, method: :delete, data: { confirm: 'sicher.?' } %>
    </span>
</div>
</div>

<% end %>